<script src="/libs/jquery/jquery-3.1.1.js"></script>
<div class="container">
    <div class="card green accent-2">
        <span id="text_place" class="card-title"></span>
    </div>
    <button class="btn-large green accent-2" onclick="SimpleRequest()" >Отправить</button>
</div>
<script>
    function SimpleRequest(){
        event.preventDefault();
        jQuery.ajax({
            url: '/text',
            type: 'GET',
            success: function(response){
                jQuery('#text_place').text(response);
            }
        })

    }

</script>