<script src="./static/libs/vue/vue.js"></script>
<script src="./static/libs/vue/vue-resource.min.js"></script>

<link rel="stylesheet" href="./static/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/style.css">

<script src="./static/libs/jquery/jquery-3.1.1.js"></script>
<script src="./static/libs/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="./static/libs/fileSaver.js"></script>
<body>
    <div id="app" class="form-horizontal">
        <div v-if="users.length == 0"><h1>ПУСТО</h1></div>
        <div v-else>
            <table class="table table-bordered">
                <tr v-for="(user, index) in users">
                    <td>{{user.id}}</td>
                    <td>{{user.nickname}}</td>
                    <td>{{user.phone}}</td>
                    <td><button class="btn btn-primary" v-on:click.prevent="deleteUser(index)">Удалить</button></td>
                </tr>
            </table>
        </div>
        <div><span style="color: red" v-show="isUserExist()">Такой пользователь уже добавлен</span></div>
        <div id="idInput" class="form-group">
            <label for="id" class="col-cm-2 control-label">Введите ID пользователя</label>
            <div class="col-sm-10">
                <input class="form-control" id="id" type="text" v-model="currentId">
            </div>
        </div>
        <button class="btn btn-primary" v-on:click.prevent="addUser()">Добавить</button>
        <div class="form-group">
            <label for="nameInput" class="col-cm-2 control-label">{{currentLocal.name}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nameInput" :placeholder="currentLocal.name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastnameInput" class="col-cm-2 control-label">{{currentLocal.lastname}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastnameInput" :placeholder="currentLocal.lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneInput" class="col-cm-2 control-label">{{currentLocal.phone}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phoneInput" :placeholder="currentLocal.phone">
            </div>
        </div>
        <button class="btn btn-primary" v-on:click.prevent="setLocalRus">Русский</button>
        <button class="btn btn-primary" v-on:click.prevent="setLocalEng">English</button>
    </div>
</body>
<script src="./static/js/vueApp.js"></script>